/* Global */

.text__section {
  font-family: "Montserrat", sans-serif;
}

.text__section p {
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 30px;
}

.title__section h3 {
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  margin-bottom: 50px;
  line-height: 1.5em;
  color: #fff;
}

.btn-orange {
  background-color: #f18119;
  padding: 15px 50px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 16px;

  display: block;
  max-width: fit-content;
  margin: 0 auto;
}

.btn-orange:hover {
  background-color: #ff7b00;
  color: #fff;
  transition: all 0.3s;
}

/* Requirements Section */

.requirement {
  background-color: #1f3b9b;
  padding: 80px 0;
}

.requirement .title__section h2 {
  color: #fff;
}

.requirement__item {
  display: flex;
  align-items: center;
  color: #fff;
}

.requirement__item__img {
  margin-right: 30px;
}

.requirement__item__img img#Mississipi {
  width: 80px;
  height: 140px;
}

.requirement__item__img img#NationalNC {
  width: 140px;
  height: 80px;
}

.requirement__item__text p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
}

.requirement__item__text strong {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5em;
}

.requirement__item__text {
  max-width: 330px;
}

@media (max-width: 992px) {
  .requirement__item {
    flex-direction: column;
    margin-top: 15px 0;
  }

  .requirement__item__text {
    max-width: 100%;
  }

  .requirement__item:last-child {
    margin-top: 50px;
  }

  .requirement__item__img {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

/* Equity */

.equity {
  padding: 80px 0;
}

.equity__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.equity__item img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.equity__item strong {
  font-size: 52px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #f18119;
  line-height: 1.5em;
  margin-top: -24px;
}

.equity__item p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #0b1541;
  line-height: 1.5em;
}

.title__equity {
  font-family: "Montserrat", sans-serif;
}

.title__equity strong {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.5em;
  color: #0a1541;
}

.title__equity p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  color: #0a1541;
}

.title__equity p {
  font-family: "Montserrat", sans-serif;
}

/* School Districts */
.schoolText {
  background: #275ce4;
  color: #fff;
  padding: 60px 0;
}

/* Progress */
.progressText {
  background: #1f3b9b;
  color: #fff;
  padding: 60px 0;
}

/* Methodology */

.methodology {
  padding: 80px 0;
}

.methodology .title__section h3 {
  margin-bottom: 20px;
  color: #0b1541;
}

.methodology__items ol {
  list-style: decimal;
}

.methodology__items ol li {
  padding-left: 15px;
  color: #0a1541;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5em;
  font-size: 14px;
  font-weight: 500;
  margin: 5px 0;
}
